

body
{
    background-color: #2B2B2B;
    color: white;
    font-weight: 600;
}

input,textarea
{
    background-color: transparent !important;
    color: white !important;
}
table
{
    color: white !important;
}
